.menu {
	height : 130px;
	padding : 0 15vw;
	border-bottom : solid 1px #e8e8e8;
	box-shadow : 0 0 30px #f3f1f1;
	background-color : white;
	display: flex;
	z-index: 5;
}

.menu_logo {
	float : left;
	width : 130px;
	height: 130px;
	padding-top: 25px;
}

.menu_content {
	width : 1000px;
	height : 100%;
	padding-left: 70px;
	text-align: center;
	display: flex;
	align-items: center;
}